* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: rgb(32, 116, 101);
}

header {
  background-color: rgba(24, 24, 24, 0.8);
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  height: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

a:hover {
  color: rgba(167, 228, 185, 0.801);
}

a:active,
a:focus {
  font-weight: 500;
  color: rgb(255, 255, 255);
  outline: none;
}

aside {
  position: relative;
  margin: 1.5rem;
}

h1 {
  font-size: 2rem;
}

aside a {
  color: white;
  font-size: 2.5rem;
}

nav {
  flex: 70%;
  margin-bottom: auto;
}

ul {
  position: relative;
  top: 40px;
  display: flex;
  justify-content: space-evenly;
}

li {
  display: inline-block;
  font-size: 1.5rem;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 2rem;
}

.contact_sections {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

input {
  display: block;
  margin: 0 0.7rem 0.7rem 0;
}
input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
}

h2,
h1,
li {
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  margin: 2rem;
}

.contact_wrapper p {
  text-align: center;
  display: block;
  width: 60%;
}

.submit_btn {
  background: rgba(24, 24, 24, 0.5);
  color: inherit;
  border: 3px solid rgba(24, 24, 24, 0.8);
  padding: 0.1em 0.5em;
  font: inherit;
  font-size: 0.5em;
  cursor: pointer;
  outline: inherit;
  margin: 2rem;
}
.submit_btn:active,
.submit_btn:focus {
  color: white;
  background: rgba(24, 24, 24, 0.8);
}

.landing_wrapper > h3,
p {
  color: white;
}

.landing_wrapper p {
    display: inline-block;
}
.landing_wrapper i {
    margin-left: 1.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(24, 24, 24, .5);
    font-size: 1rem;
    text-align: center;
}

footer p {
  padding-top: 1.3rem;
  color: rgb(32, 116, 101);
}

.card-container {
    width: 100%;
    display: flex;
}

.card {
    width: 25%;
    height: 400px;
    margin: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-img {
    width: 100%;
    border-radius: 2px;
}

.card p, .card-middle {
    padding: 0px 8px;
}

.card-middle {
    display: flex;
    justify-content: space-between;
}

.card-middle h3 {
    padding-top: 10px;
}

.card-middle a {
    font-size: 30px;
}
